gradio
hf-xet
spaces
transformers
sentencepiece
sacremoses
nltk
accelerate
tensorflow
requests
numpy
soundfile
tqdm
librosa
protobuf
ninja
opencv-python
torch
pywinauto
pyautogui
pyperclip
psutil
GPUtil
python-dotenv